
#draggable { 
    width: 150px; 
    height: 150px;  
}
#trash { 
    width: 100%; 
    height:100px; 
    position:absolute; 
    bottom:0;
    background: yellow;
}

#containment-wrapper { 
    width: 600px; 
    height:600px; 
    border:2px solid #ccc; 
    float:left; 
    position:relative
}
.thumbImg { 
    cursor:pointer; 
    cursor:hand;
    height:50px; 
    width:50px;      
}              	    
                       
#footer {              
    float:bottom;
    bottom:1;
}
#forms {
    float:bottom;
}

#thumbDiv {
    width: 240px;  
    padding: 1em;  
    border: 1px solid #000; 
    background: #eee; 
    color: #333; 
    float:right
}

