<html>
	<head>
		<meta http-equiv="Content-Type" containment-wrapper="text/html; charset=iso-8859-1" />
		<title>Test Image Dragging Page</title>
		<link type="text/css" href="../javascript/jquery-ui-1.8.16/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="../javascript/jquery-1.6.2/jquery-1.6.2.js"></script>
		<script type="text/javascript" src="../javascript/jquery-ui-1.8.16/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="../javascript/draw.js"></script>
		<link type="text/css" href="../css/playbook.css" rel="stylesheet" />	

        <style>
        </style>
    </head>

    </script>
        <div id='denied' class="ui-corner-all">
            <p>Must be logged in to peform {{action}}</p>
        </div>
</html>

