<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Test Image Dragging Page</title>
		<link type="text/css" href="/javascript/jquery-ui-1.8.16/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/javascript/jquery-1.6.2/jquery-1.6.2.js"></script>
		<script type="text/javascript" src="/javascript/jquery-ui-1.8.16/js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="/javascript/draw.js"></script>
    <style>
        #draggable { width: 150px; height: 150px;  }
	    #deleteImage { width: 100%; height:100px; position:absolute; bottom:0}
        #containment-wrapper { width: 600px; height:600px; border:2px solid #ccc; padding: 10px; float:left; position:relative}
        #thumbdiv { width: 200px; height:500px; border:2px solid #fff; padding: 3px; float:right}
        .thumbImg { cursor:pointer; cursor:hand;}
    </style>
    <script>
        $(function() {
        	$( "#draggable" ).draggable();
        	$( ".dragimg" ).draggable({
        		refreshPositions : true,
        		//stop: function(event, ui) {console.log(ui); alert(ui.helper.attr("id"));  alert(ui.position.left);}
                //stop: function(event, ui) {console.log(ui);}
                stop: function(event, ui) {updatePositions(ui.helper.attr("id"), ui.helper.attr("src"), ui.position), console.log(posArray)}
        		//alert ("Draggable");
        	});
        	$( "#deleteImage" ).droppable({
        		drop: function( event, ui ) {
                    console.log(ui.draggable);                        
                    ui.draggable.remove();
                    imgCounter--;
        		}
        	});
        });
    </script>

<div id="containment-wrapper">
<div id="deleteImage" class="ui-widget-header">
	<p>Trashcan (Delete Img)</p>
</div>
</div>


<div id="thumbdiv">
    <p>Click on Thumbnail to Add Image</p>
    <img id='testImg_thumb.jpg' src='images/testImg_thumb.jpg' class='thumbImg' onclick="addImg('images/testImg.jpg', 'containment-wrapper')">
    <img id='testImg2_thumb.jpg' src='images/testImg2_thumb.jpg' class='thumbImg' onclick="addImg('images/testImg2.jpg', 'containment-wrapper')">
    <form>
        <input type="button" value="Get Positions" onclick="returnPositions()" />
    </form>
</div>

<div class="demo-description" style="display: none; ">
<p>Enable draggable functionality on any DOM element. Move the draggable object by clicking on it with the mouse and dragging it anywhere within the viewport.</p>
</div><!-- End demo-description -->
</html>
