<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Test Image Dragging Page</title>
		<link type="text/css" href="/javascript/jquery-ui-1.8.16/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/javascript/jquery-1.6.2/jquery-1.6.2.js"></script>
        <script type="text/javascript" src="/javascript/jquery-ui-1.8.16/js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="/javascript/draw.js"></script>        
    <style>
        #containment-wrapper { width: 600px; height:600px; border:2px solid #ccc; padding: 10px; float:left}

    </style>
    <script>

    </script>

    <div id="play1">
        <img src="images/testImg.jpg" style="position: relative; top: 30; left: 100;">
    </div>


<div class="demo-description" style="display: none; ">
<p>Enable draggable functionality on any DOM element. Move the draggable object by clicking on it with the mouse and dragging it anywhere within the viewport.</p>
</div><!-- End demo-description -->
</html>
